html {
  height: 100%;
  width: 100%;
}

body {
  background: url('dollar-money-repeat-pattern-background_603333-186.avif');
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  text-align: center;
  color: #333;
}

section {
  background-color: #6d8264;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  clear: both;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p,
a {
  color: #56c88d;
}

main {}

/* nav */
nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  width: 100px;
  margin: 0;
  text-align: center;
}

nav {
  height: 58px;
}

nav ul li a {
  display: block;
  padding: 5px;
  background-color: wheat;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}