html {
  height: 100%;
  width: 100%;
}

body {
  background: url('dollar-money-repeat-pattern-background_603333-186.avif');
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

div,
section {
  background-color: #6d8264;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p, a{
  color: #56c88d;
  ;
}

ul,
li {
  list-style-type: circle;
  padding: 0;
  color: #666;
  margin-left: 20px;
}

li {
  margin-bottom: 15px;
}